In [1]:
import os

def print_tree(root_dir):
    for root, dirs, files in os.walk(root_dir):
        level = root.replace(root_dir, "").count(os.sep)
        indent = " " * 4 * level
        print(f"{indent}üìÅ {os.path.basename(root)}/")

        subindent = " " * 4 * (level + 1)
        for f in files:
            print(f"{subindent}üìÑ {f}")

In [2]:
# V√≠ d·ª•
print_tree(r"C:\Users\Phong\Desktop\GIS\Project 2\GA_OZMIN_MineralDeposits_v02_20130830")

üìÅ GA_OZMIN_MineralDeposits_v02_20130830/
    üìÑ Cbl_deposits_resources_for_2012_20130827.dbf
    üìÑ Cbl_deposits_resources_for_2012_20130827.prj
    üìÑ Cbl_deposits_resources_for_2012_20130827.sbn
    üìÑ Cbl_deposits_resources_for_2012_20130827.sbx
    üìÑ Cbl_deposits_resources_for_2012_20130827.shp
    üìÑ Cbl_deposits_resources_for_2012_20130827.shx
    üìÑ Cbl_deposits_resources_for_2012_20130827.xlsx
    üìÑ Cbr_deposits_resources_for_2012_20130829.dbf
    üìÑ Cbr_deposits_resources_for_2012_20130829.prj
    üìÑ Cbr_deposits_resources_for_2012_20130829.sbn
    üìÑ Cbr_deposits_resources_for_2012_20130829.sbx
    üìÑ Cbr_deposits_resources_for_2012_20130829.shp
    üìÑ Cbr_deposits_resources_for_2012_20130829.shx
    üìÑ Cbr_deposits_resources_for_2012_20130829.xlsx
    üìÑ OZMIN Mineral Deposits Database.htm

In [3]:
from pathlib import Path
import geopandas as gpd
import pandas as pd

ozmin_dir = Path(r"C:\Users\Phong\Desktop\GIS\Project 2\4_GA_OZMIN_MineralDeposits_v02_20130830")

cbl = gpd.read_file(ozmin_dir / "Cbl_deposits_resources_for_2012_20130827.shp")
cbr = gpd.read_file(ozmin_dir / "Cbr_deposits_resources_for_2012_20130829.shp")

In [4]:
cbl.head()

,OBJECTID,ENO,NAME,SYNONYMS,STATE,OPSTATUS,LONGITUDE,LATITUDE,COMMODIDS,RECORDDATE,MATERIAL,MINERAL_UN,RESERVES,TOTAL,geometry
0,1,533385.0,Mount Penny,EL7406,NSW,mineral deposit,150.055000,-32.438000,Cbl,2010-11-30,Thermal Coal,Mt,0.0,173.7,POINT (150.055 -32.438)
1,2,533395.0,Drake,None,QLD,mineral deposit,147.816000,-20.708000,Cbl,2010-01-31,Coking/Thermal Coal,Mt,200.0,222.2,POINT (147.816 -20.708)
2,3,533389.0,Cooroorah,None,QLD,mineral deposit,148.943000,-23.421000,Cbl,2012-12-14,PCI (Pulverised Coal Injection),Mt,0.0,106.5,POINT (148.943 -23.421)
3,4,533392.0,Orion Downs,"Meteor Downs South, Inderi",QLD,mineral deposit,148.361000,-24.425000,Cbl,2012-07-31,Thermal Coal,Mt,0.0,51.4,POINT (148.361 -24.425)
4,5,335030.0,Leigh Creek,"Telford Basin (Lobe B), North Field (Lobe C&D)...",SA,operating mine,138.416588,-30.480359,Cbl,2010-12-31,Thermal Coal,Mt,0.0,546.0,POINT (138.41659 -30.48036)

In [5]:
cbl.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    437 non-null    int32
 1   ENO         437 non-null    float64
 2   NAME        437 non-null    object
 3   SYNONYMS    184 non-null    object
 4   STATE       437 non-null    object
 5   OPSTATUS    437 non-null    object
 6   LONGITUDE   437 non-null    float64
 7   LATITUDE    437 non-null    float64
 8   COMMODIDS   435 non-null    object
 9   RECORDDATE  351 non-null    datetime64[ms]
 10  MATERIAL    350 non-null    object
 11  MINERAL_UN  351 non-null    object
 12  RESERVES    437 non-null    float64
 13  TOTAL       437 non-null    float64
 14  geometry    437 non-null    geometry
dtypes: datetime64[ms](1), float64(5), geometry(1), int32(1), object(7)
memory usage: 49.6+ KB

In [6]:
cbr.head()

,OBJECTID,ENO,NAME,SYNONYMS,STATE,OPSTATUS,LONGITUDE,LATITUDE,COMMODIDS,RECORDDATE,MATERIAL,UNITS,TOTAL,geometry
0,1,334117.0,Zanthus,Balladonia,WA,mineral deposit,123.668150,-31.779382,Cbr,2012-06-30,Thermal Coal,Mt,350.0,POINT (123.66815 -31.77938)
1,2,336001.0,Salmon Gums,O'Sullivans,WA,mineral deposit,121.415685,-32.843707,Cbr,2009-07-16,Thermal Coal,Mt,876.0,POINT (121.41568 -32.84371)
2,3,335534.0,Anglesea,"Angahook, Jan Juc",VIC,operating mine,144.169962,-38.391751,Cbr,2009-12-31,Thermal Coal,Mt,320.2,POINT (144.16996 -38.39175)
3,4,336047.0,Yallourn,"Yallourn East, Yallourn Township, Maryvale Fie...",VIC,operating mine,146.360402,-38.195064,Cbr,NaT,None,None,0.0,POINT (146.3604 -38.19506)
4,5,335034.0,Hazelwood Mine,"Morwell, West Field, South East Field",VIC,operating mine,146.391003,-38.268964,Cbr,2008-12-31,Thermal Coal,Mt,1806.7,POINT (146.391 -38.26896)

In [7]:
cbr.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    53 non-null     int32
 1   ENO         53 non-null     float64
 2   NAME        53 non-null     object
 3   SYNONYMS    18 non-null     object
 4   STATE       53 non-null     object
 5   OPSTATUS    53 non-null     object
 6   LONGITUDE   53 non-null     float64
 7   LATITUDE    53 non-null     float64
 8   COMMODIDS   53 non-null     object
 9   RECORDDATE  51 non-null     datetime64[ms]
 10  MATERIAL    51 non-null     object
 11  UNITS       51 non-null     object
 12  TOTAL       53 non-null     float64
 13  geometry    53 non-null     geometry
dtypes: datetime64[ms](1), float64(4), geometry(1), int32(1), object(7)
memory usage: 5.7+ KB

In [8]:
ozmin = pd.concat([cbl, cbr], ignore_index=True)

In [9]:
ozmin

,OBJECTID,ENO,NAME,SYNONYMS,STATE,OPSTATUS,LONGITUDE,LATITUDE,COMMODIDS,RECORDDATE,MATERIAL,MINERAL_UN,RESERVES,TOTAL,geometry,UNITS
0,1,533385.0,Mount Penny,EL7406,NSW,mineral deposit,150.055000,-32.438000,Cbl,2010-11-30,Thermal Coal,Mt,0.0,173.7,POINT (150.055 -32.438),NaN
1,2,533395.0,Drake,None,QLD,mineral deposit,147.816000,-20.708000,Cbl,2010-01-31,Coking/Thermal Coal,Mt,200.0,222.2,POINT (147.816 -20.708),NaN
2,3,533389.0,Cooroorah,None,QLD,mineral deposit,148.943000,-23.421000,Cbl,2012-12-14,PCI (Pulverised Coal Injection),Mt,0.0,106.5,POINT (148.943 -23.421),NaN
3,4,533392.0,Orion Downs,"Meteor Downs South, Inderi",QLD,mineral deposit,148.361000,-24.425000,Cbl,2012-07-31,Thermal Coal,Mt,0.0,51.4,POINT (148.361 -24.425),NaN
4,5,335030.0,Leigh Creek,"Telford Basin (Lobe B), North Field (Lobe C&D)...",SA,operating mine,138.416588,-30.480359,Cbl,2010-12-31,Thermal Coal,Mt,0.0,546.0,POINT (138.41659 -30.48036),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,49,334350.0,Sedan,None,SA,mineral deposit,139.317999,-34.362286,Cbr,1991-01-01,Thermal Coal,NaN,NaN,184.0,POINT (139.318 -34.36229),Mt
486,50,550573.0,Balladonia West,None,WA,mineral deposit,122.576500,-32.096039,Cbr,1999-09-30,Thermal Coal,NaN,NaN,650.0,POINT (122.5765 -32.09604),Mt
487,51,555677.0,Lochiel North,None,SA,mineral deposit,138.283300,-33.733300,Cbr,2011-08-08,Thermal Coal,NaN,NaN,270.0,POINT (138.2833 -33.7333),Mt
488,52,558130.0,Yarragon,None,VIC,mineral deposit,146.066000,-38.200000,Cbr,2012-04-16,Thermal Coal,NaN,NaN,136.0,POINT (146.066 -38.2),Mt
489,53,558133.0,Gippsland EL4500,None,VIC,mineral deposit,146.200000,-38.133000,Cbr,2012-04-16,Thermal Coal,NaN,NaN,306.0,POINT (146.2 -38.133),Mt

In [10]:

ozmin = gpd.GeoDataFrame(ozmin, geometry="geometry", crs=cbl.crs)

In [11]:
ozmin

,OBJECTID,ENO,NAME,SYNONYMS,STATE,OPSTATUS,LONGITUDE,LATITUDE,COMMODIDS,RECORDDATE,MATERIAL,MINERAL_UN,RESERVES,TOTAL,geometry,UNITS
0,1,533385.0,Mount Penny,EL7406,NSW,mineral deposit,150.055000,-32.438000,Cbl,2010-11-30,Thermal Coal,Mt,0.0,173.7,POINT (150.055 -32.438),NaN
1,2,533395.0,Drake,None,QLD,mineral deposit,147.816000,-20.708000,Cbl,2010-01-31,Coking/Thermal Coal,Mt,200.0,222.2,POINT (147.816 -20.708),NaN
2,3,533389.0,Cooroorah,None,QLD,mineral deposit,148.943000,-23.421000,Cbl,2012-12-14,PCI (Pulverised Coal Injection),Mt,0.0,106.5,POINT (148.943 -23.421),NaN
3,4,533392.0,Orion Downs,"Meteor Downs South, Inderi",QLD,mineral deposit,148.361000,-24.425000,Cbl,2012-07-31,Thermal Coal,Mt,0.0,51.4,POINT (148.361 -24.425),NaN
4,5,335030.0,Leigh Creek,"Telford Basin (Lobe B), North Field (Lobe C&D)...",SA,operating mine,138.416588,-30.480359,Cbl,2010-12-31,Thermal Coal,Mt,0.0,546.0,POINT (138.41659 -30.48036),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,49,334350.0,Sedan,None,SA,mineral deposit,139.317999,-34.362286,Cbr,1991-01-01,Thermal Coal,NaN,NaN,184.0,POINT (139.318 -34.36229),Mt
486,50,550573.0,Balladonia West,None,WA,mineral deposit,122.576500,-32.096039,Cbr,1999-09-30,Thermal Coal,NaN,NaN,650.0,POINT (122.5765 -32.09604),Mt
487,51,555677.0,Lochiel North,None,SA,mineral deposit,138.283300,-33.733300,Cbr,2011-08-08,Thermal Coal,NaN,NaN,270.0,POINT (138.2833 -33.7333),Mt
488,52,558130.0,Yarragon,None,VIC,mineral deposit,146.066000,-38.200000,Cbr,2012-04-16,Thermal Coal,NaN,NaN,136.0,POINT (146.066 -38.2),Mt
489,53,558133.0,Gippsland EL4500,None,VIC,mineral deposit,146.200000,-38.133000,Cbr,2012-04-16,Thermal Coal,NaN,NaN,306.0,POINT (146.2 -38.133),Mt

In [13]:

ozmin.head()

,OBJECTID,ENO,NAME,SYNONYMS,STATE,OPSTATUS,LONGITUDE,LATITUDE,COMMODIDS,RECORDDATE,MATERIAL,MINERAL_UN,RESERVES,TOTAL,geometry,UNITS
0,1,533385.0,Mount Penny,EL7406,NSW,mineral deposit,150.055000,-32.438000,Cbl,2010-11-30,Thermal Coal,Mt,0.0,173.7,POINT (150.055 -32.438),NaN
1,2,533395.0,Drake,None,QLD,mineral deposit,147.816000,-20.708000,Cbl,2010-01-31,Coking/Thermal Coal,Mt,200.0,222.2,POINT (147.816 -20.708),NaN
2,3,533389.0,Cooroorah,None,QLD,mineral deposit,148.943000,-23.421000,Cbl,2012-12-14,PCI (Pulverised Coal Injection),Mt,0.0,106.5,POINT (148.943 -23.421),NaN
3,4,533392.0,Orion Downs,"Meteor Downs South, Inderi",QLD,mineral deposit,148.361000,-24.425000,Cbl,2012-07-31,Thermal Coal,Mt,0.0,51.4,POINT (148.361 -24.425),NaN
4,5,335030.0,Leigh Creek,"Telford Basin (Lobe B), North Field (Lobe C&D)...",SA,operating mine,138.416588,-30.480359,Cbl,2010-12-31,Thermal Coal,Mt,0.0,546.0,POINT (138.41659 -30.48036),NaN

In [14]:
ozmin.crs

<Geographic 2D CRS: EPSG:4283>
Name: GDA94
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: Australia including Lord Howe Island, Macquarie Island, Ashmore and Cartier Islands, Christmas Island, Cocos (Keeling) Islands, Norfolk Island. All onshore and offshore.
- bounds: (93.41, -60.55, 173.34, -8.47)
Datum: Geocentric Datum of Australia 1994
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich